@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #eceff1;
  color: black;
}

.app {
  background-color: #0e4d92;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 10px;
}

.Stopwatch h3 {
  color: rgb(114, 113, 113);
  text-align: center;
  padding-top: 8px;
  letter-spacing: 1.2px;
  font-weight: 500;
}

p {
  font-size: 28px;
  color:rgb(128, 125, 125);
}

.stopwatch-card {
  border:1px solid green;
  margin-top:100px;
  padding:10px;
  border-radius:25px;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  position: absolute;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 325px;
  height: 130px;
  top: 110px;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  outline: none;
  background: transparent;
  border: 1px solid rgb(140, 111, 171);
  padding: 5px 10px;
  border-radius: 7px;
  color: rgb(140, 111, 171);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 150px;
  margin: 0 auto;
  margin-top: 5px;
}

.Stop{
  margin-top:300px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

.Stopwatch{
  color:cadetblue;
}
